.our-special-menu{
    margin-top: 3rem;
}
.our-special-menu h1{
    font-size: 3.5rem;
    padding-bottom: 3rem;
    font-weight: 600;
}
.our-special-menu h2{
    font-size: 3rem;
    padding-bottom: 2rem;
}
.our-special-wrapper{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.our-special-overlay{
    background: var(--lightgreen-1);
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 1;
}
.our-special-img,
.our-special-descript{
    flex: 1;

}
.our-special-img img{
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
}
.our-special-descript h1{
    font-size: 2.5rem;
    padding-bottom: 1rem;
    font-weight: 500;
}
.our-special-descript h2{
    font-size: 2rem;
    color: var(--green-1);
    font-weight: 600;
    padding-bottom: 1rem;
}
.star-4 img{
    width: max-content;
    height: 100%;
}

@media only screen and (max-width: 768px){
    /* Our special */
    .our-special-wrapper{
        flex-direction: column;
        gap: 1rem;
    }
   
}